pymdwizard/resources/FGDC_schemas/BDPSchema/BDPfgdc-std-001-1998-sect01.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sch="http://www.ascc.net/xml/schematron" blockDefault="#all">
   <xsd:element name="idinfo" type="idinfoType"></xsd:element>
   <xsd:complexType name="idinfoType">
      <xsd:sequence>
         <xsd:element ref="citation">
            <xsd:annotation>
               <xsd:documentation>1.1  Citation -- information to be used to reference the data set.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element ref="descript">
            <xsd:annotation>
               <xsd:documentation>1.2  Description -- a characterization of the data set, including its intended use and limitations.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element ref="timeperd">
            <xsd:annotation>
               <xsd:documentation>1.3  Time Period of Content -- time period(s) for which the data set corresponds to the currentness reference.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element ref="status">
            <xsd:annotation>
               <xsd:documentation>1.4  Status -- the state of and maintenance information for the data set.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element ref="spdom" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>1.5  Spatial Domain -- the geographic areal domain of the data set.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element ref="keywords">
            <xsd:annotation>
               <xsd:documentation>1.6  Keywords -- words or phrases summarizing an aspect of the data set.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element ref="taxonomy" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>BDP1.7 Taxonomy Information--on the taxa (1 or more) included in the data set, including keywords, taxonomic system and coverage information, and taxonomic classification system.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element ref="accconst">
            <xsd:annotation>
               <xsd:documentation>1.7  Access Constraints -- restrictions and legal prerequisites for accessing the data set.  These include any access constraints applied to assure the protection of privacy or intellectual property, and any special restrictions or limitations on obtaining the data set.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element ref="useconst">
            <xsd:annotation>
               <xsd:documentation>1.8  Use Constraints -- restrictions and legal prerequisites for using the data set after access is granted.  These include any use constraints applied to assure the protection of privacy or intellectual property, and any special restrictions or limitations on using the data set.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element ref="ptcontac" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>1.9  Point of Contact -- contact information for an individual or organization that is knowledgeable about the data set. ------------------------------------------------------------------------------------------------------------------------------------------------What is the difference between the "Originator" in compound element "Citation" (1.1) and the "Point of Contact" element?
The "Originator" is the person(s) and organization(s) that developed the data set. The "Point of Contact" is the person(s) and organization(s) that can be contacted if questions arise about the data set. The "Originator" and the "Point of Contact" may be the same.
------------------------------------------------------------------------------------------------------------------------------------------------
</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element ref="browse" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>1.10  Browse Graphic -- a graphic that provides an illustration of the data set.  The graphic should include         a legend for interpreting the graphic.  ------------------------------------------------------------------------------------------------------------------------------------------------
FAQ:	What is the purpose of a browse graphic?

A browse graphic is an image of the data set. The image allows prospective users to move beyond textual descriptions and see what the data set looks like. The image might show a simple display of the data set, the results of an application that used the data set, different aspects of the quality of the data set, or other information.  Examples: 

</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element ref="datacred" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>1.11  Data Set Credit -- recognition of those who contributed to the data set.  ------------------------------------------------------------------------------------------------------------------------------------------------
FAQ:	What is the purpose of the "Data Set Credit" data element?

The "Data Set Credit" data element was provided to allow the originator to recognize other person(s), organization(s), or events that made the data set possible. These might include sponsors, sources of funds, reviewers, dedications, etc.
------------------------------------------------------------------------------------------------------------------------------------------------
</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element ref="secinfo" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>1.12  Security Information -- handling restrictions imposed on the data set because of national security, privacy, or other concerns.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element ref="native" minOccurs="0">
            <xsd:annotation>
               <xsd:documentation>1.13  Native Data Set Environment -- a description of the data set in the producer's processing environment, including items such as the name of the software (including version), the computer operating system, file name (including host-, path-, and filenames), and the data set size.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element ref="crossref" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>1.14  Cross Reference -- information about other, related data sets that are likely to be of interest.</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element ref="tool" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
               <xsd:documentation>BDP1.15. Analytical Tool--Tools, models, or statistical procedures that the data set is intrinsically bound to and are available for use in analyzing the data set.  Examples include reconstructions of phylogenies, population viability analyses, community ordinations, most atmospheric and hydrological transport analyses, and inferences on the effects of climate change on forest composition and productivity. Enough information should be included such that a potential data user can easily determine why they might wish to acquire the analytical tool, and the methodology to acquire it.  Repeat as needed.  </xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="citation" type="citationType">
      <xsd:annotation>
         <xsd:documentation>Citation -- information to be used to reference the data set.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="citationType">
      <xsd:sequence>
         <xsd:element ref="citeinfo" />
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="descript" type="descriptType">
      <xsd:annotation>
         <xsd:documentation>Description -- a characterization of the data set, including its intended use and limitations.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="descriptType">
      <xsd:sequence>
         <xsd:element ref="abstract" />
         <xsd:element ref="purpose" />
         <xsd:element ref="supplinf" minOccurs="0" />
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="abstract" type="abstractType">
      <xsd:annotation>
         <xsd:documentation>Abstract -- a brief narrative summary of the data set.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:simpleType name="abstractType">
      <xsd:restriction base="FGDCstring" />
   </xsd:simpleType>
   <xsd:element name="purpose" type="purposeType">
      <xsd:annotation>
         <xsd:documentation>Purpose -- a summary of the intentions with which the data set was developed.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:simpleType name="purposeType">
      <xsd:restriction base="FGDCstring" />
   </xsd:simpleType>
   <xsd:element name="supplinf" type="supplinfType">
      <xsd:annotation>
         <xsd:documentation>Supplemental Information -- other descriptive information about the data set.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:simpleType name="supplinfType">
      <xsd:restriction base="FGDCstring" />
   </xsd:simpleType>
   <xsd:element name="timeperd" type="timeperdType">
      <xsd:annotation>
         <xsd:documentation>Time Period of Content -- time period(s) for which the data set corresponds to the currentness reference.
</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="timeperdType">
      <xsd:sequence>
         <xsd:element ref="timeinfo" />
         <xsd:element ref="current" />
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="current" type="currentType">
      <xsd:annotation>
         <xsd:documentation>Currentness Reference -- the basis on which the time period of content information is determined.          

FAQ:	What does the “currentness reference” mean?

Information about the currentness of a data set (that is, information about how “up-to-date” is a data set) is important to many, if not most, potential users. Most users are interested in the currentness of a data set related to the “ground condition” (that is, when the “real world” looked the way it s described in the data set). Unfortunately, sometimes only the time that the information was recorded or published is known. The Currentness Reference element requires the producer to identify if the Time Period of Content dates and times refer to the ground condition, or some later time when the information was recorded, published, etc.
------------------------------------------------------------------------------------------------------------------------------------------------
FAQ: What is the information recorded in the Currentness Reference element?   

This element is used to clarify how the calendric date(s) provided in Time Period of Content were generated.  If "June, July, and August" were derived from "Summer", or calendric dates were generated from the radio isotopic (e.g. carbon) dating of samples, or some other interpretation was made to generate the calendric date, the original information before interpretation, and an explanation of the interpretation or derivation should be included in this element.  In the case of calendar dates derived from radiocarbon dating, the radiocarbon age (B.P.), its standard deviation, and the isotope fractionation (if done), along with the calibration scheme used, should be included.
------------------------------------------------------------------------------------------------------------------------------------------------FAQ:	What is the difference between  “ground condition” and “observed”?

“Ground condition” is the date the site was visited.  “Observed” does not require physical presence; the information may be collected by instrument or other tool.  If your data set content is derived from photographs (aerial), designate in the Time Period of Content Date Explanation the data time period is “photo date” and provide the dates(s) of the photographs.
</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:simpleType name="currentType">
      <xsd:union>
         <xsd:simpleType>
            <xsd:restriction base="FGDCstring"></xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType>
            <xsd:restriction base="xsd:token">
               <xsd:enumeration value="ground condition" />
               <xsd:enumeration value="publication date" />
            </xsd:restriction>
         </xsd:simpleType>
      </xsd:union>
   </xsd:simpleType>
   <xsd:element name="status" type="statusType">
      <xsd:annotation>
         <xsd:documentation>Status -- the state of and maintenance information for the data set.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="statusType">
      <xsd:sequence>
         <xsd:element ref="progress" />
         <xsd:element ref="update" />
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="progress" type="progressType">
      <xsd:annotation>
         <xsd:documentation>Progress -- the state of the data set.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:simpleType name="progressType">
      <xsd:restriction base="xsd:token">
         <xsd:enumeration value="Complete" />
         <xsd:enumeration value="In work" />
         <xsd:enumeration value="Planned" />
         <xsd:enumeration value="In Work" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="update" type="updateType">
      <xsd:annotation>
         <xsd:documentation>1.4.2  Maintenance and Update Frequency -- the frequency with which changes and additions are made to the data set after the initial data set is completed.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:simpleType name="updateType">
      <xsd:union>
         <xsd:simpleType>
            <xsd:restriction base="FGDCstring"></xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType>
            <xsd:restriction base="xsd:token">
               <xsd:enumeration value="Continually" />
               <xsd:enumeration value="Daily" />
               <xsd:enumeration value="Weekly" />
               <xsd:enumeration value="Monthly" />
               <xsd:enumeration value="Annually" />
               <xsd:enumeration value="Unknown" />
               <xsd:enumeration value="As Needed" />
               <xsd:enumeration value="Irregular" />
               <xsd:enumeration value="None planned" />
            </xsd:restriction>
         </xsd:simpleType>
      </xsd:union>
   </xsd:simpleType>
   <xsd:element name="spdom" type="spdomType">
      <xsd:annotation>
         <xsd:documentation>1.5  Spatial Domain -- the geographic areal domain of the data set.</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="spdomType">
      <xsd:sequence>
         <xsd:element ref="descgeog" />
         <xsd:element ref="bounding" />
         <xsd:element ref="dsgpoly" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="descgeog" type="descgeogType">
      <xsd:annotation>
         <xsd:documentation>BDP1.5.1  Description of Geographic Extent-- Short description of the geographic areal domain of the data set.
	 Examples include, "Manistee River watershed", "extent of 7 « minute quads containing any property 
	belonging to Yellowstone National Park", or "ponds and reservoirs larger than 2 acres in Jefferson County, 
	Colorado".  This is especially important when the extent of the data set is not well described by the 
	"Bounding Rectangle Coordinates".
</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:simpleType name="descgeogType">
      <xsd:restriction base="FGDCstring" />
   </xsd:simpleType>
   <xsd:element name="bounding" type="boundingType">
      <xsd:annotation>
         <xsd:documentation>1.5.1  Bounding Coordinates-- the limits of coverage of a data set expressed by latitude and longitude values in the order western-most, eastern-most, northern-most, and southern-most.  For data sets that include a complete band of latitude around the earth, the West Bounding Coordinate shall be assigned the value -180.0, and the East Bounding</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="boundingType">
      <xsd:sequence>
         <xsd:element ref="westbc" />
         <xsd:element ref="eastbc" />
         <xsd:element ref="northbc" />
         <xsd:element ref="southbc" />
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="westbc" type="westbcType">
      <xsd:annotation>
         <xsd:documentation>1.5.1.1  West Bounding Coordinate -- western-most coordinate of the limit of coverage expressed in longitude.
	Type:  real
	Domain:  -180.0 &lt;= West Bounding Coordinate &lt; 180.0
</xsd:documentation>
      </xsd:annotation>
   </xsd:element>
   <xsd:simpleType name="westbcType">
      <xsd:restriction base="FGDClongitude">
         <xsd:maxExclusive value="180.0" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="eastbc" type="eastbcType" />
   <xsd:simpleType name="eastbcType">
      <xsd:restriction base="FGDClongitude" />
   </xsd:simpleType>
   <xsd:element name="northbc" type="northbcType" />
   <xsd:simpleType name="northbcType">
      <xsd:restriction base="FGDClatitude" />
   </xsd:simpleType>
   <xsd:element name="southbc" type="southbcType" />
   <xsd:simpleType name="southbcType">
      <xsd:restriction base="FGDClatitude" />
   </xsd:simpleType>
   <xsd:element name="dsgpoly" type="dsgpolyType" />
   <xsd:complexType name="dsgpolyType">
      <xsd:sequence>
         <xsd:element ref="dsgpolyo" />
         <xsd:element ref="dsgpolyx" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="dsgpolyo" type="dsgpolyoType" />
   <xsd:complexType name="dsgpolyoType">
      <xsd:choice>
         <xsd:element ref="grngpoin" minOccurs="4" maxOccurs="unbounded" />
         <xsd:element ref="gring" />
      </xsd:choice>
   </xsd:complexType>
   <xsd:element name="grngpoin" type="grngpoinType" />
   <xsd:complexType name="grngpoinType">
      <xsd:sequence>
         <xsd:element ref="gringlat" />
         <xsd:element ref="gringlon" />
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="gringlat" type="gringlatType" />
   <xsd:simpleType name="gringlatType">
      <xsd:restriction base="FGDClatitude" />
   </xsd:simpleType>
   <xsd:element name="gringlon" type="gringlonType" />
   <xsd:simpleType name="gringlonType">
      <xsd:restriction base="FGDClongitude">
         <xsd:maxExclusive value="180.0" />
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="gring" type="gringType" />
   <xsd:simpleType name="gringType">
      <xsd:restriction base="FGDCstring" />
   </xsd:simpleType>
   <xsd:element name="dsgpolyx" type="dsgpolyxType" />
   <xsd:complexType name="dsgpolyxType">
      <xsd:choice>
         <xsd:element ref="grngpoin" minOccurs="4" maxOccurs="unbounded" />
         <xsd:element ref="gring" />
      </xsd:choice>
   </xsd:complexType>
   <xsd:element name="keywords" type="keywordsType" />
   <xsd:complexType name="keywordsType">
      <xsd:sequence>
         <xsd:element ref="theme" maxOccurs="unbounded" />
         <xsd:element ref="place" minOccurs="0" maxOccurs="unbounded" />
         <xsd:element ref="stratum" minOccurs="0" maxOccurs="unbounded" />
         <xsd:element ref="temporal" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="theme" type="themeType" />
   <xsd:complexType name="themeType">
      <xsd:sequence>
         <xsd:element ref="themekt" />
         <xsd:element ref="themekey" maxOccurs="unbounded" />
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="themekt" type="themektType" />
   <xsd:simpleType name="themektType">
      <xsd:union>
         <xsd:simpleType>
            <xsd:restriction base="FGDCstring"></xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType>
            <xsd:restriction base="xsd:token">
               <xsd:enumeration value="None" />
               <xsd:enumeration value="ISO 19115 Topic Category" />
            </xsd:restriction>
         </xsd:simpleType>
      </xsd:union>
   </xsd:simpleType>
   <xsd:element name="themekey" type="themekeyType" />
   <xsd:simpleType name="themekeyType">
      <xsd:union>
         <xsd:simpleType>
            <xsd:restriction base="FGDCstring"></xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType>
            <xsd:restriction base="xsd:token">
               <xsd:enumeration value="farming" />
               <xsd:enumeration value="biota" />
               <xsd:enumeration value="boundaries" />
               <xsd:enumeration value="climatologyMeteorologyAtmosphere" />
               <xsd:enumeration value="economy" />
               <xsd:enumeration value="elevation" />
               <xsd:enumeration value="environment" />
               <xsd:enumeration value="geoscientificinformation" />
               <xsd:enumeration value="health" />
               <xsd:enumeration value="imageryBaseMapsEarthCover" />
               <xsd:enumeration value="intelligenceMilitary" />
               <xsd:enumeration value="inlandWaters" />
               <xsd:enumeration value="location" />
               <xsd:enumeration value="oceans" />
               <xsd:enumeration value="planningCadastre" />
               <xsd:enumeration value="society" />
               <xsd:enumeration value="structure" />
               <xsd:enumeration value="transportation" />
               <xsd:enumeration value="utilitiesCommunications" />
            </xsd:restriction>
         </xsd:simpleType>
      </xsd:union>
   </xsd:simpleType>
   <xsd:element name="place" type="placeType" />
   <xsd:complexType name="placeType">
      <xsd:sequence>
         <xsd:element ref="placekt" />
         <xsd:element ref="placekey" maxOccurs="unbounded" />
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="placekt" type="placektType" />
   <xsd:simpleType name="placektType">
      <xsd:union>
         <xsd:simpleType>
            <xsd:restriction base="FGDCstring"></xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType>
            <xsd:restriction base="xsd:token">
               <xsd:enumeration value="None" />
            </xsd:restriction>
         </xsd:simpleType>
      </xsd:union>
   </xsd:simpleType>
   <xsd:element name="placekey" type="placekeyType" />
   <xsd:simpleType name="placekeyType">
      <xsd:restriction base="FGDCstring" />
   </xsd:simpleType>
   <xsd:element name="stratum" type="stratumType" />
   <xsd:complexType name="stratumType">
      <xsd:sequence>
         <xsd:element ref="stratkt" />
         <xsd:element ref="stratkey" maxOccurs="unbounded" />
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="stratkt" type="stratktType" />
   <xsd:simpleType name="stratktType">
      <xsd:union>
         <xsd:simpleType>
            <xsd:restriction base="FGDCstring"></xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType>
            <xsd:restriction base="xsd:token">
               <xsd:enumeration value="None" />
            </xsd:restriction>
         </xsd:simpleType>
      </xsd:union>
   </xsd:simpleType>
   <xsd:element name="stratkey" type="stratkeyType" />
   <xsd:simpleType name="stratkeyType">
      <xsd:restriction base="FGDCstring" />
   </xsd:simpleType>
   <xsd:element name="temporal" type="temporalType" />
   <xsd:complexType name="temporalType">
      <xsd:sequence>
         <xsd:element ref="tempkt" />
         <xsd:element ref="tempkey" maxOccurs="unbounded" />
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="tempkt" type="tempktType" />
   <xsd:simpleType name="tempktType">
      <xsd:union>
         <xsd:simpleType>
            <xsd:restriction base="FGDCstring"></xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType>
            <xsd:restriction base="xsd:token">
               <xsd:enumeration value="None" />
            </xsd:restriction>
         </xsd:simpleType>
      </xsd:union>
   </xsd:simpleType>
   <xsd:element name="tempkey" type="tempkeyType" />
   <xsd:simpleType name="tempkeyType">
      <xsd:restriction base="FGDCstring" />
   </xsd:simpleType>
   <xsd:element name="taxonomy" type="taxonomyType" />
   <xsd:complexType name="taxonomyType">
      <xsd:sequence>
         <xsd:sequence>
            <xsd:element ref="keywtax" maxOccurs="unbounded" />
            <xsd:element ref="taxonsys" minOccurs="0"></xsd:element>
            <xsd:element ref="taxongen" minOccurs="0"></xsd:element>
            <xsd:element ref="taxoncl" maxOccurs="unbounded">
               <!--Taxon Classification-->
            </xsd:element>
         </xsd:sequence>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="keywtax" type="keywtaxType" />
   <xsd:complexType name="keywtaxType">
      <xsd:sequence>
         <xsd:element ref="taxonkt" />
         <xsd:element ref="taxonkey" maxOccurs="unbounded"></xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="taxonkt" type="taxonktType"></xsd:element>
   <xsd:simpleType name="taxonktType">
      <xsd:restriction base="FGDCstring"></xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="taxonkey" type="taxonkeyType"></xsd:element>
   <xsd:simpleType name="taxonkeyType">
      <xsd:restriction base="FGDCstring"></xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="taxonsys" type="taxonsysType"></xsd:element>
   <xsd:complexType name="taxonsysType">
      <xsd:sequence>
         <xsd:element ref="classsys" maxOccurs="unbounded"></xsd:element>
         <xsd:element ref="idref" minOccurs="0" maxOccurs="unbounded"></xsd:element>
         <xsd:element ref="ider" minOccurs="0" maxOccurs="unbounded"></xsd:element>
         <xsd:element ref="taxonpro"></xsd:element>
         <xsd:element ref="taxoncom" minOccurs="0"></xsd:element>
         <xsd:element ref="vouchers" minOccurs="0" maxOccurs="unbounded"></xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="classsys" type="classsysType"></xsd:element>
   <xsd:complexType name="classsysType">
      <xsd:sequence>
         <xsd:element ref="classcit" maxOccurs="unbounded" />
         <xsd:element ref="classmod" minOccurs="0"></xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="classcit" type="classcitType"></xsd:element>
   <xsd:complexType name="classcitType">
      <xsd:sequence>
         <xsd:element ref="citeinfo" />
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="classmod" type="classmodType"></xsd:element>
   <xsd:simpleType name="classmodType">
      <xsd:restriction base="FGDCstring"></xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="idref" type="idrefType"></xsd:element>
   <xsd:complexType name="idrefType">
      <xsd:sequence>
         <xsd:element ref="citeinfo" />
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="ider" type="iderType"></xsd:element>
   <xsd:complexType name="iderType">
      <xsd:sequence>
         <xsd:element ref="cntinfo" />
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="taxonpro" type="taxonproType"></xsd:element>
   <xsd:simpleType name="taxonproType">
      <xsd:restriction base="FGDCstring"></xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="taxoncom" type="taxoncomType"></xsd:element>
   <xsd:simpleType name="taxoncomType">
      <xsd:restriction base="FGDCstring"></xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="vouchers" type="vouchersType"></xsd:element>
   <xsd:complexType name="vouchersType">
      <xsd:sequence>
         <xsd:element ref="specimens" />
         <xsd:element ref="reposit"></xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="specimens" type="specimensType"></xsd:element>
   <xsd:simpleType name="specimensType">
      <xsd:restriction base="FGDCstring"></xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="reposit" type="repositType"></xsd:element>
   <xsd:complexType name="repositType">
      <xsd:sequence>
         <xsd:element ref="cntinfo" />
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="taxongen" type="taxongenType"></xsd:element>
   <xsd:simpleType name="taxongenType">
      <xsd:restriction base="FGDCstring"></xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="taxoncl" type="taxonclType"></xsd:element>
   <xsd:complexType name="taxonclType">
      <xsd:sequence>
         <xsd:element ref="taxonrn" />
         <xsd:element ref="taxonrv"></xsd:element>
         <xsd:element ref="common" minOccurs="0" maxOccurs="unbounded"></xsd:element>
         <xsd:element ref="taxoncl" minOccurs="0" maxOccurs="unbounded"></xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="taxonrn" type="taxonrnType"></xsd:element>
   <xsd:simpleType name="taxonrnType">
      <xsd:restriction base="FGDCstring"></xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="taxonrv" type="taxonrvType"></xsd:element>
   <xsd:simpleType name="taxonrvType">
      <xsd:restriction base="FGDCstring"></xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="common" type="commonType"></xsd:element>
   <xsd:simpleType name="commonType">
      <xsd:restriction base="FGDCstring"></xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="accconst" type="accconstType"></xsd:element>
   <xsd:simpleType name="accconstType">
      <xsd:restriction base="FGDCstring" />
   </xsd:simpleType>
   <xsd:element name="useconst" type="useconstType" />
   <xsd:simpleType name="useconstType">
      <xsd:restriction base="FGDCstring" />
   </xsd:simpleType>
   <xsd:element name="ptcontac" type="ptcontacType" />
   <xsd:complexType name="ptcontacType">
      <xsd:sequence>
         <xsd:element ref="cntinfo" />
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="browse" type="browseType" />
   <xsd:complexType name="browseType">
      <xsd:sequence>
         <xsd:element ref="browsen" />
         <xsd:element ref="browsed" />
         <xsd:element ref="browset" />
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="browsen" type="browsenType" />
   <xsd:simpleType name="browsenType">
      <xsd:restriction base="FGDCstring" />
   </xsd:simpleType>
   <xsd:element name="browsed" type="browsedType" />
   <xsd:simpleType name="browsedType">
      <xsd:restriction base="FGDCstring" />
   </xsd:simpleType>
   <xsd:element name="browset" type="browsetType" />
   <xsd:simpleType name="browsetType">
      <xsd:restriction base="FGDCstring" />
   </xsd:simpleType>
   <xsd:element name="datacred" type="datacredType" />
   <xsd:simpleType name="datacredType">
      <xsd:restriction base="FGDCstring" />
   </xsd:simpleType>
   <xsd:element name="secinfo" type="secinfoType" />
   <xsd:complexType name="secinfoType">
      <xsd:sequence>
         <xsd:element ref="secsys" />
         <xsd:element ref="secclass" />
         <xsd:element ref="sechandl" />
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="secsys" type="secsysType" />
   <xsd:simpleType name="secsysType">
      <xsd:restriction base="FGDCstring" />
   </xsd:simpleType>
   <xsd:element name="secclass" type="secclassType" />
   <xsd:simpleType name="secclassType">
      <xsd:restriction base="FGDCstring" />
   </xsd:simpleType>
   <xsd:element name="sechandl" type="sechandlType" />
   <xsd:simpleType name="sechandlType">
      <xsd:restriction base="FGDCstring" />
   </xsd:simpleType>
   <xsd:element name="native" type="nativeType" />
   <xsd:simpleType name="nativeType">
      <xsd:restriction base="FGDCstring" />
   </xsd:simpleType>
   <xsd:element name="crossref" type="crossrefType" />
   <xsd:complexType name="crossrefType">
      <xsd:sequence>
         <xsd:element ref="citeinfo" />
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="tool" type="toolType"></xsd:element>
   <xsd:complexType name="toolType">
      <xsd:sequence>
         <xsd:element ref="tooldesc" />
         <xsd:element ref="toolacc" />
         <xsd:element ref="toolcont" minOccurs="0" />
         <xsd:element ref="toolcite" minOccurs="0" />
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="tooldesc" type="tooldescType"></xsd:element>
   <xsd:simpleType name="tooldescType">
      <xsd:restriction base="FGDCstring" />
   </xsd:simpleType>
   <xsd:element name="toolacc" type="toolaccType"></xsd:element>
   <xsd:complexType name="toolaccType">
      <xsd:sequence>
         <xsd:element ref="onlink" minOccurs="0" maxOccurs="unbounded" />
         <xsd:element ref="toolinst" />
         <xsd:element ref="toolcomp" minOccurs="0" />
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="toolinst" type="toolinstType"></xsd:element>
   <xsd:simpleType name="toolinstType">
      <xsd:restriction base="FGDCstring" />
   </xsd:simpleType>
   <xsd:element name="toolcomp" type="toolcompType"></xsd:element>
   <xsd:simpleType name="toolcompType">
      <xsd:restriction base="FGDCstring" />
   </xsd:simpleType>
   <xsd:element name="toolcont" type="toolcontType"></xsd:element>
   <xsd:complexType name="toolcontType">
      <xsd:sequence>
         <xsd:element ref="cntinfo" />
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="toolcite" type="toolciteType"></xsd:element>
   <xsd:complexType name="toolciteType">
      <xsd:sequence>
         <xsd:element ref="citeinfo" />
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>